@model ProductList.Models.SimpleSupplierVM

@{
    ViewBag.Title = "SupplierProductAverages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Supplier Average Prices</h3>

<div style="height: 300px; overflow-y: scroll;">
    <table class="table table-condensed table-hover" id="productTable">
        <thead style="position: sticky; top: 0; background-color: lightgrey;">
            <tr>
                <th width="33%">Supplier ID</th>
                <th width="33%">Supplier Name</th>
                <th width="33%">Average Prices</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var simpleSupplier in Model.SimpleSuppliers)
                    {
            <tr>
                <td>@simpleSupplier.SimpleSupplierID</td>
                <td>@simpleSupplier.SimpleSuppierName</td>
                <td>@Math.Round(Model.SimpleProductSuppliers.Where(x => x.SimpleSupplierID == simpleSupplier.SimpleSupplierID).Average(x => x.SimplePrice), 2)</td>
            </tr>
                    }
        </tbody>
    </table>
</div>